.layout {
  background-color: aqua;
}
.layout .header {
  display: flex;
  justify-content: space-between;
}
.layout .header .headerleft {
  width: 40%;
}
.layout .header .headerright {
  width: 20%;
}
.layout .img {
  height: 300px;
  background-color: yellow;
}
.layout .footer{
  background-color: greenyellow;
}
