.login {
  background-color: #21eb0f;
  height: 616px;
  position: relative;
}
.login .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
}
.login .form .arow {
  background-color: white;
}
.login .form p {
  height: 30px;
  margin: 0;
  text-align: center;
  line-height: 30px;
}
.login .form Col {
  font-size: 30px;
  color: red;
}
